{% extends "layout.html" %}
{% block title %}About - ChocoballDetector{% endblock %}
{% block content %}
<div class="row flex-xl-nowrap">
  <div class="col-md-12">
    <h1><a href="#">About This Web App</a></h1>
    <p>このページはチョコボールの個数を自動で計測するサービスを提供します。</p>
    <p>以下のブログを参考にしてください。</p>
    <a href="http://chocolate-ball.hatenablog.com/">チョコボール統計</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <form method="get" action="/send">
      <button type="submit" class="btn btn-primary" name="clear" value="Back">Back</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
