{% extends "layout.html" %}
{% block title %}Gallary - ChocoballDetector{% endblock %}
{% block content %}
<div class="row flex-xl-nowrap">
  <div class="col-md-12">
    <h1><a href="/">Chocoball Gallery</a></h1>
    <p>チョコボール画像のサンプル集</p>
    <hr>
  </div>
</div>

<div class="row">
  {% for img in imgs %}
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="{{img}}"><img src="{{img}}" class="img-thumbnail"></a>
      <input type="button" value="これで試す" class="btn btn-primary" onClick="location.href='/chocoballuri?file={{img}}'">

    </div>
  </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <form method="get" action="/">
      <button type="submit" class="btn btn-primary" name="clear" value="Back">Back</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
